
#register-form{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
  

}
button {

    margin-left :5px }

    
.vault-title{
    width: 280px;
    position: absolute;
    top: -20%;
    left: 55%;
    transform: translate(-50%,-50%);
    color: black;
  
}