<h1>Make a Transfer</h1>
<form #depositForm class="was-validated" (ngSubmit)="onClickSubmit(Wbox.value, receiverAccount.value)"> 
    <div class="col-md-1">
      <label for="Wbox" class="form-label">Transfer:</label>
      <input type="number" class="form-control" min="1" id="Wbox" #Wbox placeholder="Desired Amount" name="withdrawbox" required ngModel>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Enter number greater than 1</div>
    </div>
    <div class="col-md-2">
    <select class="browser-default custom-select custom-select-lg mb-3" name="depTypeBox" #receiverAccount required ngModel>
      <option selected>Accounts</option>
      <option *ngFor="let account of userAccounts" value={{account.accountType}}>{{account.accountType}}</option>
  
    </select>
  </div>
     
    <!-- <div class="col-md-2">
         <label for="depositTypeBox" class="form-label">Account to transfer to:</label>
        <select class="form-control" *ngFor="let account of userAccounts; let i = index" id="depositTypeBox" name="depTypeBox" #receiverAccount required ngModel>
          
            <option *ngFor="let account of userAccounts">{{account.accountType}}</option>
        </select>
      </div> -->
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
