<h1>Make a Withdrawal</h1>
<form #depositForm class="was-validated" (ngSubmit)="onClickSubmit(Wbox.value, requestType.value, reference.value)">
    <div class="col-md-1">
      <label for="Wbox" class="form-label">Withdraw:</label>
      <input type="number" class="form-control" min="1" id="Wbox" #Wbox placeholder="Desired Amount" name="withdrawbox" required ngModel>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Enter number greater than 1</div>
    </div>
     <div class="col-md-2">
         <label for="requestTypeBox" class="form-label">Request Type</label>
        <select class="form-control" id="requestTypeBox" name="reqTypeBox" #requestType required ngModel>
            <option>Retail</option>
            <option>Tech</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="refBox" class="form-lable">Reference</label>
        <input type="text" class="form-control" id="refBox" name="referenceBox" required #reference ngModel>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
