<form action="" class="was-validated">
    <div class="col-md-1">
      <label for="Wbox" class="form-label">Transaction Form:</label>
      <input type="number" class="form-control" min="1" id="Wbox" #Wbox placeholder="Desired Amount" name="withdrawbox" required >
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Enter number greater than 1</div>
    </div>
     <div class="col-md-2">
      <label for="Rbox" class="form-label">Source:</label>
      <input type="text" class="form-control"  id="Rbox" plaeholder="Reference" name="referencebox" required #Rbox>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please input a valid reason</div>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="checkbox" id="myCheck" name="remember" required>
      <label class="form-check-label" for="myCheck">I have verified the above amount is correct.</label>
      <div class="valid-feedback">Click Submit to finalize transaction.</div>
      <div class="invalid-feedback">Check this checkbox to continue.</div>
    </div>
    <button type="submit"  onclick="window.location.href = 'http://localhost:4200/account-view';" class="btn btn-primary">Submit</button>
  </form>
