<div id="editP-form">
  <img class="vault-title" src="https://media.discordapp.net/attachments/940739263656509560/945780916066869318/vault_logo.png" alt="templogo">
<br>
<form class="row g-3 needs-validation">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationCustom01" name="validationCustom01" [(ngModel)]="firstName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationCustom02" name="validationCustom02" [(ngModel)]="lastName" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom03" class="form-label">Email</label>
      <input type="text" class="form-control" id="validationCustom03" name="validationCustom03" [(ngModel)]="email" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationCustom04" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="validationCustom04" name="validationCustom4" [(ngModel)]="phoneNumber" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom05" class="form-label">Address</label>
      <input type="text" class="form-control" id="validationCustom05" name="validationCustom05" [(ngModel)]="address" required>
      <div class="invalid-feedback">
          Write a valid address
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="button" (click)="submit()">Submit</button>
      <button class="btn btn-secondary" type="button" (click)="goBack()">Back</button>
    </div>
    <!-- <div>
        <button class="btn btn-secondary" type="button" (click)="goBack()">Back</button>
    </div> -->
  </form>
</div>