<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">  
        <div class="d-flex justify-content-around">
            <div class="p-2">
                <span class="navbar-text">Account Detail</span>
            </div>
            <div class="p-2">
                <a class="nav-link active" (click)="goBack()">Back</a>
            </div>
            <div class="p-2">
                <a class="nav-link active" (click)="logout()">logout</a>
            </div>
        </div>
    </nav>
    <app-account-info [account]="account"></app-account-info>
</div>
<app-app-bootstrap></app-app-bootstrap>
